<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Employee data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>What is your name?</ion-label>
    <ion-input [(ngModel)]="employee.name"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label stacked>What is your email?</ion-label>
      <ion-input [(ngModel)]="employee.email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>What is your cell?</ion-label>
        <ion-input [(ngModel)]="employee.cell"></ion-input>
      </ion-item>
      <button ion-button full (click)="addEmp()">Add Employee</button>
          <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;}
            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
            .tg .tg-0lax{text-align:left;vertical-align:top}
            </style>
            <table class="tg">
              <tr>
                <th class="tg-0lax"> Name</th>
                <th class="tg-0lax"> Email</th>
                <th class="tg-0lax"> Cell</th>
              </tr>
              <tr *ngFor="let emp of employees">
                  
                    <td>{{emp.name}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.cell}}</td>
                  </tr>
                
            </table>
</ion-content>
